<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ProyectoFinalAD</display-name>
  <welcome-file-list>
        <welcome-file>IndexServlet</welcome-file>
    </welcome-file-list>
    <servlet>
    	<description>
    	</description>
    	<display-name>IndexServlet</display-name>
    	<servlet-name>IndexServlet</servlet-name>
    	<servlet-class>mvc.controlador.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>RespuestaServlet</display-name>
    	<servlet-name>RespuestaServlet</servlet-name>
    	<servlet-class>mvc.controlador.servlet.RespuestaServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AddServlet</display-name>
    	<servlet-name>AddServlet</servlet-name>
    	<servlet-class>mvc.controlador.servlet.AddServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ChooseDBServlet</display-name>
    	<servlet-name>ChooseDBServlet</servlet-name>
    	<servlet-class>mvc.controlador.servlet.ChooseDBServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ShowDBServlet</display-name>
    	<servlet-name>ShowDBServlet</servlet-name>
    	<servlet-class>mvc.controlador.servlet.ShowDBServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>AddServlet</servlet-name>
    	<url-pattern>/AddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>IndexServlet</servlet-name>
    	<url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>RespuestaServlet</servlet-name>
    	<url-pattern>/RespuestaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ChooseDBServlet</servlet-name>
    	<url-pattern>/ChooseDBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ShowDBServlet</servlet-name>
    	<url-pattern>/ShowDBServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    </web-app>